.nav {
    grid-area: nav;

    padding: 5px;
  }

.item a {
  color: black;
  text-decoration: none;
}

.link {
  padding: 7px;
}

a.active .link {
  font-weight: bold;
  background-color: #F5F6F7;
  border-style: solid;
  border-width: 1px;
  border-color: #D9DBDD;
  border-radius: 5px;
}