.body-wrapper {
    background-color: #E9EBEE;
    min-height: 100vh;
}

.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;

    grid-template-areas:
    "head head"
    "nav con";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: con;
    
    padding: 20px;
    border: 1px solid #cacaca;
    border-radius: 5px;

    background-color: white;
}