.header-wrapper {
    background-color: #E9EBEE;
    width: 100%;
}

.body-wrapper {
    background-color: #E9EBEE;
    width: 100%;
}

.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;

    grid-template-areas:
    "head head"
    "nav con";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0px;
}

.app-wrapper-content {
    grid-area: con;
    
    padding: 10px;

    background-color: white;
}