.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.authors {
    padding: 10px;
}

.authors .active a {
    color: gold;
}

.ava {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
}

.messages .message {

}